.bookmarklet {
  padding: 0 15px;
  border: 1px solid #c2c4c6;
  height: 148px;
  background: url(../img/bgBookmarklet.gif);
  h3 {
    font-size: 13px;
    font-weight: bold;
    color: #5c6379;
  }
  .info {
    color: #6B7080;
  }
}

.bookmarkletHelp {
  border: 1px solid #efefef;
  background-color: #f9f9f9;
  h3 {
    font-weight: bold;
    font-size: 12px;
    color: #868d95;
    margin: 0;
    padding: 10px 0 10px 20px;
  }
  ul {
    border-top: 1px solid #efefef;
    padding: 15px 0 0 0;
  }
  li {
    margin: 0 20px;
    padding: 0 0 0 20px;
    margin-bottom: 10px;
    list-style: none;
    color: #868d95;
    &.item1 {
      background: url(../img/bgBookmarkletOrder1.gif) no-repeat 0 4px;
    }
    &.item2 {
      background: url(../img/bgBookmarkletOrder2.gif) no-repeat 0 4px;
    }
    &.item3 {
      background: url(../img/bgBookmarkletOrder3.gif) no-repeat 0 4px;
    }
    &.item4 {
      background: url(../img/bgBookmarkletOrder4.gif) no-repeat 0 4px;
    }
  }
}

.bookmarkletInstall {
  &:first-child .page-header h5 {
    margin-top: 20px;
  }
  .page-header h5 {
    margin-top: 40px;
    margin-bottom: 5px;
    padding-left: 23px;
    background: url(../img/iconH5.gif) 5px 3px no-repeat;
  }
}


/* item-subjectlist */
.item-subjectlist {
  position: relative;
  margin-bottom: 20px;
  border-top: 2px solid #cbd4df;
  border-bottom: 2px solid #cbd4df;
  overflow: hidden;
  .item {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #e3e5e7;
    top: -1px;
    a {
      color: #648AB9;
    }
    dl {
      margin: 0;
    }
    dt {
      position: relative;
      margin: 0;
      padding: 0;
      font-size: 11px;
      color: #bababa;
      zoom: 1;
    }
    dd {
      margin: 0;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      font-size: 12px;
      img, object, embed {
        max-width: 100%;
        _width: 100%;
      }
    }
    .goPost {
      margin: 0;
      text-align: right;
    }
    .materialCart {
      position: absolute;
      top: 15px;
      right: 20px;
    }
    .btnDeleteSubject {
      position: absolute;
      width: 19px;
      height: 19px;
      top: 15px;
      right: 0;
      border: 0;
      padding: 0;
      cursor: pointer;
      background: transparent url(../img/buttonTableDataX.gif) no-repeat center center;
      span {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
      }
    }
  }
}