
/* filedset */
fieldset legend {display:none;}

/* text-align added !important */
.text-left {text-align: left !important}
.text-right {text-align: right !important}
.text-center {text-align: center !important}

/* modal-deny */
.modal-deny {
  .modal-footer {
    margin-top: 0px;
    padding: 13px 20px 14px;
  }
  .modal-body {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 400px) {
  .modal-deny .modal-dialog {
    width: 360px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* form-config */
.form-config {
  .page-header h5 { font-weight: bold; }
  label {font-weight: normal; }
  .form-control-static.unit { margin-left: 7px; }
}

/* toggle-off toggle-on */

.toggle-off {
  color: #e8e8e8;
}

.toggle-on {
  color: #e33a23;
}

.navbar-static-top {
  z-index: 99;
}

.form-group {
  margin-bottom: 10px;
}

.page-header.page-header-icon h5 {
  margin-top: 40px;
  margin-bottom: 5px;
  padding-left: 23px;
  background: url(../img/iconH5.gif) 5px 3px no-repeat;
}

/* item-nodata */
p.item-nodata {
	display:inline-block !important;
	margin-top:45px;
	margin-bottom:45px;
	padding:10px 30px;
	color:#333;font-weight:bold;font-size:14px;text-align:center;
	background:url(../img/iconNoData.gif) no-repeat left center;
}

/* change controller */
.item-changecontroller {
	padding:6px 0 0 45px;
	float:left;
	background:url(../img/lineListFooterL.gif) no-repeat 20px top;
}



/* item-deletebutton */
.item-deletebutton {
  border: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  background: transparent url(../img/buttonTableDataX.gif) no-repeat center 5px;
  cursor: pointer;
}

/* item-favicon */
.item-favicon {
  position: relative;
  width: 180px;
  height: 140px;
  background: url(../img/bgFavicon.gif) no-repeat;
  .iconFavicon {
    position: absolute;
    left: 89px;
    &.url {
      top: 31px;
    }
    &.tab {
      top: 63px;
    }
  }
  .deleteFavicon {
    position: absolute;
    top: 105px;
    right: 0;
    width: 17px;
    height: 17px;
    padding: 0;
    border: 0;
    background: transparent url(../img/buttonTableDataX.gif) no-repeat center center;
    cursor: pointer;
    span {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      z-index: -1;
    }
  }
}

/* Item Profile */
.item-profile {
  position: relative;
  .profilePhoto {
    display: block;
    border: 1px solid #b0bfde;
    clear: both;
    margin-bottom: 5px;
  }
  .deletePhoto {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 17px;
    height: 17px;
    padding: 0;
    border: 0;
    background: transparent url(../img/buttonTableDataX.gif) no-repeat center center;
    cursor: pointer;
    span {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      z-index: -1;
    }
  }
}