body {
  font-family: Tahoma, Sans-serif;
  font-size: 12px;
  padding-bottom:70px;
}
.accordion li > .sub-menu {
    display: none;
}
 
.accordion li:target > .sub-menu {
    display: block;
}


.easypiechart {
  position: relative;
  display: inline-block;
  width:90px; height: 90px;
  text-align: center;
  margin-left:6px
}
.easypiechart canvas {
  position: absolute;
  top: 0; left: 0;
}
.easypiechart .title {
  position: absolute;
  width:90px; text-align:center;
  top: 30px;  left: 0;
  color:#373c45;
  font-weight:bold;
  display: inline-block;
  z-index: 2;
}
.easypiechart .percent {
  position: absolute;
  color:#373c45;
  display: inline-block;
  width:90px; text-align:center;
  top: 44px;  left: 0;
  z-index: 2;
}
.easypiechart .percent:after {
  content: 'MB';
  margin-left: 0.1em;
}



.setUp .thumb{position:relative;}
.setUp .thumb .profilePhoto{display:block;border:1px solid #b0bfde;clear:both;margin-bottom:5px}
.setUp .thumb .deletePhoto{position:absolute;top:1px;right:1px;width:17px;height:17px;padding:0;border:0;background:transparent url(../img/buttonTableDataX.gif) no-repeat center center;cursor:pointer}
.setUp .thumb .deletePhoto span{position:absolute;width:0;height:0;overflow:hidden;font-size:0;line-height:0;visibility:hidden;z-index:-1}

/* Subject List */
.subjectList{position:relative;margin-bottom:20px;border-top:2px solid #cbd4df;border-bottom:2px solid #cbd4df;overflow:hidden}
.subjectList .item{position:relative;padding:20px 0;border-top:1px solid #e3e5e7;top:-1px}
.subjectList .item a{color:#648AB9}
.subjectList .item dl{margin:0}
.subjectList .item dt{position:relative;margin:0;padding:0;font-size:11px;color:#bababa;zoom:1}
.subjectList .item dd{margin:0;border-top:1px solid #fff;border-bottom:1px solid #fff;font-size:12px}
.subjectList .item dd img,
.subjectList .item dd object,
.subjectList .item dd embed{max-width:100%;_width:100%}
.subjectList .item .goPost{margin:0;text-align:right}
.subjectList .item .materialCart{position:absolute;top:15px;right:20px}
.subjectList .item .btnDeleteSubject{position:absolute;width:19px;height:19px;top:15px;right:0;border:0;padding:0;cursor:pointer;background:transparent url(../img/buttonTableDataX.gif) no-repeat center center}
.subjectList .item .btnDeleteSubject span{position:absolute;width:0;height:0;overflow:hidden;font-size:0;line-height:0}


/* Category Manager Reset */
#menu{border:1px solid #e3e5e7;border-top:2px solid #cbd4df;border-bottom:2px solid #cbd4df;margin:0;}
#menu .simpleTree{margin:0;padding:0;list-style:none}
#menu .simpleTree li{margin:0;padding:0;position:relative}
#menu .simpleTree li.root{background:none;_zoom:1}
#menu .simpleTree li span{position:relative;display:block;background-color:#fafafa;padding:15px 10px 20px 19px;margin:0 0 -5px 0;color:#555;font-size:14px;font-weight:bold;z-index:1}
#menu .simpleTree li span.active{background-color:#f5f5f5;border:0}
#menu .simpleTree li ul{position:relative;z-index:2;zoom:1}
#menu .simpleTree li li{border-top:1px solid #e3e5e7;background:none;z-index:1;zoom:1;overflow:hidden}
#menu .simpleTree li li span{padding:10px;padding-left:45px;margin:0;background-color:#fff;background-image:url(../img/iconFolderCategory.gif);background-repeat:no-repeat;background-position:19px 10px;font-size:12px;font-weight:normal;cursor:move}
#menu .simpleTree li li li span{background-image:url(../img/bgHierarchy.gif);background-repeat:no-repeat;background-position:35px 11px}
#menu .simpleTree li li li span{padding-left:60px;background-position:50px 11px}
#menu .simpleTree li li li li span{padding-left:75px;background-position:65px 11px}
#menu .simpleTree li li li li li span{padding-left:90px;background-position:80px 11px}
#menu .simpleTree li li li li li li span{padding-left:105px;background-position:95px 11px}
#menu .simpleTree li li li li li li li span{padding-left:120px;background-position:110px 11px}
#menu .simpleTree li li.line,
#menu .simpleTree li li.line-last{border:0;margin:0 0 -5px 0;height:5px !important;background:none;z-index:2}
#menu .simpleTree li li.line-over,
#menu .simpleTree li li.line-over-last{border-top:1px solid #e3e5e7;margin:0;height:5px !important;background-color:#FFC;background-image:none;z-index:2}
#menu .simpleTree li .add,
#menu .simpleTree li .modify,
#menu .simpleTree li .delete{position:absolute;top:16px;z-index:2;width:13px;height:13px;background-position:center;background-repeat:no-repeat}
#menu .simpleTree li li .add,
#menu .simpleTree li li .modify,
#menu .simpleTree li li .delete{top:11px}
#menu .simpleTree li .add{right:50px;background-image:url(../img/iconAddCategory.gif)}
#menu .simpleTree li .modify{right:35px;background-image:url(../img/iconSetupCategory.gif)}
#menu .simpleTree li .delete{right:20px;background-image:url(../img/iconDelCategory.gif)}
#menu .simpleTree li li .trigger{display:none}
#menu .simpleTree li .add img,
#menu .simpleTree li .modify img,
#menu .simpleTree li .delete img{display:none}


.btnTableData{border:0;width:18px;height:18px;padding:0;background:transparent url(../img/buttonTableDataX.gif) no-repeat center 7px;cursor:pointer}
.btnTableData span{position:absolute;width:0;height:0;overflow:hidden;z-index:-1;font-size:0;line-height:0;visibility:hidden}

.listFooter .change{padding:6px 0 0 40px;float:left;background:url(../img/lineListFooterL.gif) no-repeat 20px top}


/* Spam */
.spam .partitionLeft{margin-right:2%}
.spam form{border:1px solid #e3e5e7;border-top:2px solid #cbd4df;zoom:1}
.spam legend{width:auto !important;height:auto !important;overflow:visible;position:relative !important;visibility:visible;font-size:14px;line-height:1.2;z-index:1;font-weight:bold;margin-bottom:10px;color:#000 !important}
.spam .header{background:#fafafa;padding:10px;border-bottom:1px solid #e3e5e7;white-space:nowrap;margin-bottom:-1px}
.spam .header .iText{border:1px solid #c6c6c6;color:#8b8b8b;font-size:12px;padding:3px 4px;height:15px;vertical-align:top;width:56%}
.spam .header .btnGray button{_top:0px}
.spam ul{margin:0;padding:0;list-style:none;font-size:12px;overflow:auto;height:360px}
.spam li{position:relative;border-bottom:1px solid #e3e5e7;color:#555;padding:6px 15px;font-size:11px}
.spam li button{padding:0;border:0;cursor:pointer;position:absolute;width:17px;height:17px;top:5px;right:10px;background:url(../img/buttonListDataX.gif) no-repeat center center}
.spam li button span{position:absolute;width:0;height:0;overflow:hidden;font-size:0;line-height:0;z-index:-1;visibility:hidden}

/* favicon */
.setUp .favicon{position:relative;width:180px;height:140px;background:url(../img/bgFavicon.gif) no-repeat}
.setUp .favicon .iconFavicon{position:absolute;left:89px}
.setUp .favicon .iconFavicon.url{top:31px}
.setUp .favicon .iconFavicon.tab{top:63px}
.setUp .favicon .deleteFavicon{position:absolute;top:105px;right:0;width:17px;height:17px;padding:0;border:0;background:transparent url(../img/buttonTableDataX.gif) no-repeat center center;cursor:pointer}
.setUp .favicon .deleteFavicon span{position:absolute;width:0;height:0;overflow:hidden;font-size:0;line-height:0;visibility:hidden;z-index:-1}

/* My Skin */
.mySkin{position:relative;width:100%;height:290px;zoom:1;margin-bottom:30px}
.mySkin .wrap{position:relative;height:290px;padding:30px 30px 30px 340px;background:url(../img/bgDashboardStatistic.gif) repeat-x left top;font-size:12px;line-height:1}
.mySkin .wrap:after{content:"";display:block;clear:both}
.mySkin .outline{position:absolute;overflow:hidden;font-size:0;line-height:0;background-image:url(../img/bgDashboardStatistic.gif)}
.mySkin .outline.ml{top:0;left:-2px;width:4px;height:100%;background-position:left -300px;background-repeat:no-repeat}
.mySkin .outline.mr{top:0;right:-2px;width:4px;height:100%;background-position:right -300px;background-repeat:no-repeat}
.mySkin .outline.tc{top:0;left:0;width:100%;height:3px;background-position:left -600px;background-repeat:repeat-x}
.mySkin .outline.bc{bottom:0;left:0;width:100%;height:5px;background-position:left bottom;background-repeat:repeat-x}
.mySkin .outline.tl{top:0;left:-2px;width:4px;height:3px;background-position:left -603px;background-repeat:no-repeat}
.mySkin .outline.tr{top:0;right:-2px;width:4px;height:3px;background-position:right -603px;background-repeat:no-repeat}
.mySkin .outline.bl{bottom:0;left:-2px;width:4px;height:5px;background-position:left -606px;background-repeat:no-repeat}
.mySkin .outline.br{bottom:0;right:-2px;width:4px;height:5px;background-position:right -606px;background-repeat:no-repeat}

.mySkin .thumb{float:left;margin-left:-310px;display:inline;border:1px solid #ddd;padding:10px;background:#fff}
.mySkin .thumb img{display:block;border:1px solid #f2f2f2}
.mySkin .using{position:absolute;top:20px;left:15px;margin:0}
.mySkin .summary{float:left;width:100%}
.mySkin .summary .sHeader{position:relative;padding:10px 0 15px 0;font-size:16px;border-bottom:1px solid #fff;*border-bottom:1px solid #e6e6e6;color:#648ab9}
.mySkin .summary .sHeader:after{content:"";display:block;background:#e6e6e6;height:1px;font-size:0;line-height:0;overflow:hidden;margin:15px 0 -15px 0}
.mySkin .summary .sHeader .h4{display:inline;margin:0}
.mySkin .summary .sHeader .btnGray{position:absolute;top:10px;right:0}
.mySkin .summary .sHeader .btnGray em{font-size:10px;font-weight:bold;color:#ff3636;font-style:normal}
.mySkin .summary .contributor{color:#8b8b8b;font-size:11px;font-weight:normal}
.mySkin .summary .contributor a{color:#555;font-size:11px;text-decoration:none;margin:0 0 0 3px}
.mySkin .summary .contributor a:hover,
.mySkin .summary .contributor a:active,
.mySkin .summary .contributor a:focus{text-decoration:underline}
.mySkin .summary .description{line-height:1.5;margin:1em 0 2em 0;text-align:left}
.mySkin .summary .btnArea .btnGray span{_top:-1px}


.skinList ul{zoom:1;font-size:12px;margin:0;padding:0;list-style:none}
.skinList ul:after{content:"";display:block;clear:both}
.skinList li{float:left;padding:30px 20px 0 0;height:240px;width:180px;border-bottom:1px solid #f0f0f0}
.skinList dl{position:relative;margin:0}
.skinList dt{padding:120px 0 0 0}
.skinList dt a{font-weight:bold;color:#262626;text-decoration:none;zoom:1}
.skinList dd{position:relative;margin:0}
.skinList dd.thumb{position:absolute;top:0;left:0;border:1px solid #ddd;margin-bottom:40px;padding:8px}
.skinList dd.thumb a{display:block;padding:8px}
.skinList dd.thumb img{display:block;border:1px solid #f2f2f2}
.skinList dd.thumb em{position:absolute;top:-15px;left:-15px;width:38px;height:38px;background:url(../img/iconBest.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/iconBest.png', sizingMethod='crop')}
.skinList dd.thumb em span{position:absolute;width:0;height:0;overflow:hidden;font-size:0;line-height:0;z-index:-1;visibility:hidden}
.skinList dd.meta{font-size:11px;color:#8b8b8b}
.skinList dd.download{padding:10px 0}
.skinList dd.download .btnGray button{_top:-1px !important}


/* Code Edit */
.codeEdit{position:relative}
.codeEdit fieldset{position:relative;margin-bottom:50px}
.codeEdit legend{display:block;font-size:14px;font-weight:bold;color:#555;margin:0;padding:0 0 10px 0;white-space:nowrap;display:block}
.codeEdit ul{margin:0;padding:0;list-style:none}
.codeEdit li{margin:0 0 15px 0;padding:0}
.codeEdit li a{position:relative;z-index:2;display:inline-block;border:1px solid #ddd;border-bottom-color:#fff;padding:0 15px;margin:0 0 -1px 0;height:29px;line-height:29px;font-size:12px;background:#fff;color:#333;font-weight:bold;text-decoration:none}
.codeEdit textarea{position:relative;z-index:1;overflow:auto;border:1px solid #ddd;width:98%;height:300px;margin:0;font:13px/1.5 Monospace, Sans-serif;background:#fdfef7}
.codeEdit .s0 textarea,
.codeEdit.s0 .s0 textarea,
.codeEdit.s1 .s1 textarea,
.codeEdit.s2 .s2 textarea,
.codeEdit.s3 .s3 textarea,
.codeEdit.s4 .s4 textarea,
.codeEdit.s5 .s5 textarea,
.codeEdit.s6 .s6 textarea,
.codeEdit.s7 .s7 textarea,
.codeEdit.s8 .s8 textarea,
.codeEdit.s9 .s9 textarea,
.codeEdit.s10 .s10 textarea,
.codeEdit.s11 .s11 textarea,
.codeEdit.s12 .s12 textarea,
.codeEdit.s13 .s13 textarea,
.codeEdit.s14 .s14 textarea,
.codeEdit.s15 .s15 textarea,
.codeEdit.s16 .s16 textarea,
.codeEdit.s17 .s17 textarea,
.codeEdit.s18 .s18 textarea,
.codeEdit.s19 .s19 textarea{display:block}
.codeEdit .s0 h4{background:#fdfef7;border-bottom:1px solid #fdfef7}
.codeEdit.s0 h4,
.codeEdit.s1 h4,
.codeEdit.s2 h4,
.codeEdit.s3 h4,
.codeEdit.s4 h4,
.codeEdit.s5 h4,
.codeEdit.s6 h4,
.codeEdit.s7 h4,
.codeEdit.s8 h4,
.codeEdit.s9 h4,
.codeEdit.s10 h4,
.codeEdit.s11 h4,
.codeEdit.s12 h4,
.codeEdit.s13 h4,
.codeEdit.s14 h4,
.codeEdit.s15 h4,
.codeEdit.s16 h4,
.codeEdit.s17 h4,
.codeEdit.s18 h4,
.codeEdit.s19 h4{background:#fff;border-bottom:1px solid #ddd}
.codeEdit.s0 .s0 h4,
.codeEdit.s1 .s1 h4,
.codeEdit.s2 .s2 h4,
.codeEdit.s3 .s3 h4,
.codeEdit.s4 .s4 h4,
.codeEdit.s5 .s5 h4,
.codeEdit.s6 .s6 h4,
.codeEdit.s7 .s7 h4,
.codeEdit.s8 .s8 h4,
.codeEdit.s9 .s9 h4,
.codeEdit.s10 .s10 h4,
.codeEdit.s11 .s11 h4,
.codeEdit.s12 .s12 h4,
.codeEdit.s13 .s13 h4,
.codeEdit.s14 .s14 h4,
.codeEdit.s15 .s15 h4,
.codeEdit.s16 .s16 h4,
.codeEdit.s17 .s17 h4,
.codeEdit.s18 .s18 h4,
.codeEdit.s19 .s19 h4{background:#fdfef7;border-bottom:1px solid #fdfef7}
.codeEdit .resizeVertical{position:relative;width:98%;border:1px solid #ddd;border-top:0;height:10px;background:#fafafa url(../img/buttonResizeVertical.gif) no-repeat center center;zoom:1;font-size:0;line-height:0}
.codeEdit .resizeVertical button{width:100%;height:10px;border:0;margin:0;padding:0;background:transparent;cursor:n-resize;vertical-align:middle}
.codeEdit .resizeVertical button span{position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;z-index:-1}
.codeEdit .widgetCreator{position:absolute;top:0;right:2%}
.codeEdit .btnArea{width:100%}
.codeEdit .btnArea .actionWhite{position:absolute;top:0;right:2%}


/* Tag List */
.tagList .summary{font-size:12px;color:#555;margin:0 0 10px 0}
.tagList .summary strong{color:#ea3f22}

.tagList .tSum{border-top:2px solid #cbd4df;margin-bottom:50px}
.tagList .tSum .tHeader{zoom:1;border-left:1px solid #e3e5e7;border-right:1px solid #e3e5e7;padding:8px 15px}
.tagList .tSum .tHeader:after{content:"";display:block;clear:both}
.tagList .tSum .tHeader .aLeft{float:left}
.tagList .tSum .tHeader .aRight{float:right}
.tagList .tSum .tHeader button{border:0;padding:0;cursor:pointer;background:none;font-size:12px;font-weight:bold;color:#555}
.tagList .tSum .iText{color:#8b8b8b;border:1px solid #c6c6c6;padding:3px 4px;height:15px;vertical-align:top;width:200px;font-size:12px}
.tagList .tSum ul{position:relative;margin:0;padding:0;list-style:none;font-size:12px;zoom:1;height:360px;overflow:auto;border:1px solid #e3e5e7}
.tagList .tSum li{position:relative;border-top:1px solid #e3e5e7;border-bottom:1px solid #e3e5e7;padding:8px 0;text-indent:15px;margin:-1px 0;zoom:1}
.tagList .tSum li.hover{background:#f5f5f5}
.tagList .tSum li.noTag{text-align:center;border-bottom:0;padding-top:50px}
.tagList .tSum li.noTag span{display:inline-block;padding:10px 0 10px 30px;font-weight:bold;color:#a7abb1;background:url(../img/iconNoData.gif) no-repeat left center;text-indent:0}
.tagList .tSum li .tWord{color:#648ab9;font-weight:bold;text-decoration:none}
.tagList .tSum li .tWord:hover,
.tagList .tSum li .tWord:active,
.tagList .tSum li .tWord:focus{text-decoration:underline}
.tagList .tSum li .sum{position:absolute;top:8px;right:20px;font-size:12px;color:#ea3f22;font-weight:normal;white-space:nowrap}
.tagList .tSum .btnArea{zoom:1;padding:10px 0}
.tagList .tSum .btnArea:after{content:"";display:block;clear:both}

.tagList .tModify{border:1px solid #edeff1;background:#f9f9f9;font-size:12px}
.tagList .tModify dt{color:#868d95;font-weight:bold}
.tagList .tModify .tagName{padding:15px 0 15px 25px;margin:0 0 -1px 0;border-bottom:1px solid #edeff1}
.tagList .tModify .tagName dt,
.tagList .tModify .tagName dd{display:inline;margin:0}
.tagList .tModify .tagName .iText{padding:3px 4px;height:15px;border:1px solid #c6c6c6;font-size:12px;color:#555;width:160px;vertical-align:top}
.tagList .tModify .tagName span button{top:0}

.tagList .tModify .tagFamily{margin:0;padding:15px 0 15px 25px}
.tagList .tModify .tagFamily dt{margin-bottom:15px}
.tagList .tModify .tagFamily dd{margin-bottom:3px;color:#555}
.tagList .tModify .tagFamily dd a{position:relative;color:#648ab9;text-decoration:none}
.tagList .tModify .tagFamily dd a:hover,
.tagList .tModify .tagFamily dd a:active,
.tagList .tModify .tagFamily dd a:focus{text-decoration:underline}
