body {
  font-family: Tahoma, Sans-serif;
  font-size: 12px;
}
.accordion li > .sub-menu {
    display: none;
}
 
.accordion li:target > .sub-menu {
    display: block;
}


.easypiechart {
  position: relative;
  display: inline-block;
  width:90px; height: 90px;
  text-align: center;
  margin-left:6px
}
.easypiechart canvas {
  position: absolute;
  top: 0; left: 0;
}
.easypiechart .title {
  position: absolute;
  width:90px; text-align:center;
  top: 30px;  left: 0;
  color:#373c45;
  font-weight:bold;
  display: inline-block;
  z-index: 2;
}
.easypiechart .percent {
  position: absolute;
  color:#373c45;
  display: inline-block;
  width:90px; text-align:center;
  top: 44px;  left: 0;
  z-index: 2;
}
.easypiechart .percent:after {
  content: 'MB';
  margin-left: 0.1em;
}



/* Category Manager Reset */
#menu{border:1px solid #e3e5e7;border-top:2px solid #cbd4df;border-bottom:2px solid #cbd4df;margin:0;}
#menu .simpleTree{margin:0;padding:0;list-style:none}
#menu .simpleTree li{margin:0;padding:0;position:relative}
#menu .simpleTree li.root{background:none;_zoom:1}
#menu .simpleTree li span{position:relative;display:block;background-color:#fafafa;padding:15px 10px 20px 19px;margin:0 0 -5px 0;color:#555;font-size:14px;font-weight:bold;z-index:1}
#menu .simpleTree li span.active{background-color:#f5f5f5;border:0}
#menu .simpleTree li ul{position:relative;z-index:2;zoom:1}
#menu .simpleTree li li{border-top:1px solid #e3e5e7;background:none;z-index:1;zoom:1;overflow:hidden}
#menu .simpleTree li li span{padding:10px;padding-left:45px;margin:0;background-color:#fff;background-image:url(../img/iconFolderCategory.gif);background-repeat:no-repeat;background-position:19px 10px;font-size:12px;font-weight:normal;cursor:move}
#menu .simpleTree li li li span{background-image:url(../img/bgHierarchy.gif);background-repeat:no-repeat;background-position:35px 11px}
#menu .simpleTree li li li span{padding-left:60px;background-position:50px 11px}
#menu .simpleTree li li li li span{padding-left:75px;background-position:65px 11px}
#menu .simpleTree li li li li li span{padding-left:90px;background-position:80px 11px}
#menu .simpleTree li li li li li li span{padding-left:105px;background-position:95px 11px}
#menu .simpleTree li li li li li li li span{padding-left:120px;background-position:110px 11px}
#menu .simpleTree li li.line,
#menu .simpleTree li li.line-last{border:0;margin:0 0 -5px 0;height:5px !important;background:none;z-index:2}
#menu .simpleTree li li.line-over,
#menu .simpleTree li li.line-over-last{border-top:1px solid #e3e5e7;margin:0;height:5px !important;background-color:#FFC;background-image:none;z-index:2}
#menu .simpleTree li .add,
#menu .simpleTree li .modify,
#menu .simpleTree li .delete{position:absolute;top:16px;z-index:2;width:13px;height:13px;background-position:center;background-repeat:no-repeat}
#menu .simpleTree li li .add,
#menu .simpleTree li li .modify,
#menu .simpleTree li li .delete{top:11px}
#menu .simpleTree li .add{right:50px;background-image:url(../img/iconAddCategory.gif)}
#menu .simpleTree li .modify{right:35px;background-image:url(../img/iconSetupCategory.gif)}
#menu .simpleTree li .delete{right:20px;background-image:url(../img/iconDelCategory.gif)}
#menu .simpleTree li li .trigger{display:none}
#menu .simpleTree li .add img,
#menu .simpleTree li .modify img,
#menu .simpleTree li .delete img{display:none}


.btnTableData{border:0;width:18px;height:18px;padding:0;background:transparent url(../img/buttonTableDataX.gif) no-repeat center 7px;cursor:pointer}
.btnTableData span{position:absolute;width:0;height:0;overflow:hidden;z-index:-1;font-size:0;line-height:0;visibility:hidden}

.listFooter .change{padding:6px 0 0 40px;float:left;background:url(../img/lineListFooterL.gif) no-repeat 20px top}
